/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Fira Code', monospace;
    font-size: large;
    line-height: 1.6;
}

/* Header and navigation styling */
header {
    background: #212738;
    padding: 2vh;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #EDF2EF;
    font-weight: bold;
}

nav a:hover {
    font-weight: bolder;
}

.project-link {
    color: #F97068;
    /* You can add more styles here */
}

.courses-link {
    color: #E5A357;
    /* You can add more styles here */
}

.experience-link {
    color: #D1D646;
    /* You can add more styles here */
}

.achieve-link {
    color: #DFE49B;
    /* You can add more styles here */
}

.contact-link {
    color: #EDF2EF;
    /* You can add more styles here */
}

.github-link {
    color: #A2DBEA;
    /* You can add more styles here */
}

.linkedln-link {
    color: #57C4E5;
    /* You can add more styles here */
}

/* Hero section styling */
#hero {
    background: #212738;
    color: #EDF2EF;
    text-align: center;
    font-size: large;
    padding: 0;
    height: 100vh; /* Subtract header height from viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#projects-title {
    background: #F97068;
    text-align: center;
    padding: 5vh;
    height: 25vh;
    color: whitesmoke;
}

#projects {
    background: #F97068;
    text-align: center;
    padding: 10vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #DFE49B;
}


  .slideshow-container {
    display: flex;
    overflow: hidden;
    width: 100%; /* Ensure the container spans the full width */
  }

  .slide {
    width: 40%; /* Display 2 slides at once */
    background-color: whitesmoke;
    margin: 1.5vh; /* Gap between slides */
    box-sizing: border-box;
  }

  .slide-content {
    padding: 2vh; /* Add padding to the slide content */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 1.5vh;
    color:#212738;
  }

  .project-title {
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
  }

  .skills-list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
  }

  .skills-list li {
    font-size: 14px;
  }


#courses-title {
    background: #E5A357;
    text-align: center;
    padding: 5vh;
    height: 35vh;
    color: whitesmoke;
}

#courses {
    background: #E5A357;
    text-align: center;
    padding: 5vh;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: whitesmoke;
}

.course-button {
    border: none;
    padding: 10px;
    text-align: center;
    background-color: transparent;
    color: whitesmoke;
    cursor: pointer;
    width: 100%;
    font-size: inherit;
    font-family: 'Fira Code', monospace;
    font-weight: bold;
}

#courses-changing-text {
    background: #E5A357;
    text-align: center;
    padding: 5vh;
    height: 45vh;
    color: whitesmoke;
}

.courses-container {
    flex: 1;
    padding: 3.5vh;
    box-sizing: border-box;
}

.course-box {
    border: 0.5vh solid whitesmoke;
    padding: 1vh;
    text-align: center;
}

#course-list {
    text-align: left;
    padding: 1vh;
}

#achieve {
    background: #DFE49B;
    text-align: center;
    padding: 5vh;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #212738;
}

.awards-button {
    border: none;
    padding: 10px;
    text-align: center;
    background-color: transparent;
    color: #212738;
    cursor: pointer;
    width: 100%;
    font-size: inherit;
    font-family: 'Fira Code', monospace;
    font-weight: bold;
}

#awards-changing-text {
    background: #DFE49B;
    text-align: center;
    padding: 5vh;
    height: 50vh;
    color: #212738;
}

.awards-container {
    flex: 1;
    padding: 3.5vh;
    box-sizing: border-box;
}

.awards-box {
    border: 0.5vh solid #212738;
    padding: 1vh;
    text-align: center;
}

#awards-list {
    text-align: left;
    padding: 1vh;
}

#experience-title {
    background: #D1D646;
    text-align: center;
    padding: 7vh;
    height: 25vh;
    color: #212738;
    weight: bold;
    font-family: 'Fira Code'
}

.experience {
    background: #D1D646;
    text-align: center;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #212738;
}

.experience-item {
    display: inline-block;
    width: calc(50% - 20px);
    margin: 4vh;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-height: auto; /* Change box-height to auto */
}


.experience-title {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.experience-description {
    color: #666;
    line-height: 1.4;
}

#achieve-title {
    background: #DFE49B;
    text-align: center;
    padding: 10vh;
    height: 30vh;
    color: #212738;
}


#contact {
    background: #A2DBEA;
    text-align: center;
    padding: 0;
    height: 120vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #212738;
}

/* Style for launch links */
.launch {
    display: inline-block;
    background-color: #D1D646;
    margin-top: 2vh;
    padding: 0.75vh;
    width: 15vh;
    height: 4.5vh;
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 0.5vh;
    font-weight: bold;
    font-size: 2vh;
  }

  /* Change link color when hovered */
  .launch:hover {
    background-color: #212738;
  }

#contact-title {
    background: #A2DBEA;
    text-align: center;
    padding: 7vh;
    height: 20vh;
    color: #212738;
}

/* Footer styling */
footer {
    text-align: center;
    background: #F97068;
    padding: 20px;
}

/* Mobile devices */
@media screen and (max-width: 600px) {
    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 10px 0;
    }

    .slide {
        width: 100%; /* Display one slide at a time on mobile */
    }

    .experience-item {
        width: 100%; /* Display one experience item at a time on mobile */
        margin: 2vh 0;
    }

    .course-box,
    .awards-box {
        margin: 10px 0;
    }

    footer {
        padding: 10px;
    }
}

/* Tablets and larger mobile devices */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .slide {
        width: 50%; /* Display two slides at a time on tablets */
    }

    .experience-item {
        width: calc(50% - 20px); /* Display two experience items at a time on tablets */
        margin: 4vh;
    }
}

/* Desktops and larger screens */
@media screen and (min-width: 1025px) {
    .slide {
        width: 40%; /* Display two slides at a time on desktops */
    }

    .experience-item {
        width: calc(50% - 20px); /* Display two experience items at a time on desktops */
        margin: 4vh;
    }
}

